body {
    background-image:url("https://media.discordapp.net/attachments/860890030692368395/915234164222079036/IMG_20210630_215643_372.jpg");
}
h3 {
    text-transform:uppercase;
}
.header { 
    border-style:solid;
    background-color:red;
    
}
.content {
    background-color:red;
    height:80%;
    width:70%;
}
.footer {
    background-color:red;
}